@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --offwhite: #fffcf2;
    --grey: #ccc5b9;
    --darkgrey: #403d39;
    --offblack: #252422;
    --black: #000000;

    --color1: #eb5e28;
    --color2: #eb7e28;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black);
    background: var(--offwhite);
}
#root {
    display: flex;
    justify-content: center;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
